.menubar {
    color: #F9FCFF;
    background-color: #323539;
    position: fixed;
    top: 2em;
    width: 90%;
    max-width: 92%;
    height: 42px;
    display: flex;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
}

.menuitem {
    color: orange;
    padding: 5px;
    margin: 5px;
    border: #F9FCFF;
    float: left;
}